name: Asterinas

on:
  workflow_call:

env:
  CARGO_TERM_COLOR: always
  # store stat json
  SP_OUT_DIR: /tmp/sp-out

jobs:
  check-asterinas:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tag-std
        uses: actions/checkout@v4

      - name: Init asterinas submodule
        # run: git submodule update --init tag-asterinas
        working-directory: target-projects/asterinas
        run: |
          git clone https://github.com/Artisan-Lab/tag-asterinas.git
          cd tag-asterinas && git switch 2025-12

      - name: Install toolchain
        working-directory: safety-tool
        run: |
          rm -f rust-toolchain.toml
          ./gen_rust_toolchain_toml.rs asterinas
          rustup show

      - name: Install cargo-safety-tool
        working-directory: safety-tool
        run: cargo install --path . --locked -Fasterinas

      - name: Check Asterinas
        working-directory: target-projects/asterinas/tag-asterinas
        env:
          # valid value: abort_and_emit, abort_and_no_emit, silence_and_emit, and silence_and_no_emit
          RAPX_EXIT_AND_EMIT: silence_and_emit # don't abort if discharges are missing, but still emit diagnostics
          RAPX_ARGS: --color=always 2>rapx.err
          # Colored unsafe call trees.
          SP_COLOR: 0
        run: make rapx

      - name: Upload stat JSONs
        uses: actions/upload-artifact@v4
        with:
          path: ${{env.SP_OUT_DIR }}
          name: stat_asterinas

      - name: Collect Annotated Tags
        working-directory: safety-tool
        run: ./collect_tags.sh

      - name: Print safety-tool diagnostics
        if: always()
        working-directory: target-projects/asterinas/tag-asterinas/ostd
        run: cat rapx.err

  rustc-doc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tag-std
        uses: actions/checkout@v4

      - name: Install toolchain
        working-directory: safety-tool
        run: |
          rm -f rust-toolchain.toml
          ./gen_rust_toolchain_toml.rs asterinas
          rustup show

      - name: Build ostd rustdoc
        env:
          RUSTDOCFLAGS: -Zunstable-options --generate-link-to-definition
        run: |
          git submodule update --init target-projects/asterinas/tag-asterinas
          cd target-projects/asterinas/tag-asterinas/ostd
          cargo doc --no-deps --target x86_64-unknown-none --document-private-items

      - name: Upload ostd rustdoc
        uses: actions/upload-artifact@v4
        with:
          path: target-projects/asterinas/tag-asterinas/target/x86_64-unknown-none/doc
          name: doc-asterinas

      - name: Install rustc internal docs
        working-directory: safety-tool
        run: |
          rustup toolchain list -v
          # Find toolchain path
          export TOOLCHAIN=$(rustc --print sysroot)
          echo "toolchain=\"$TOOLCHAIN\""
          # Remove rustc book
          rm $TOOLCHAIN/share/doc/rust/html/rustc -rf
          # Download rustc API docs
          rustup component add rustc-docs
          mkdir doc
          # Move the docs to deployment path
          mv $TOOLCHAIN/share/doc/rust/html/rustc doc/rustc

      - name: Upload rustc AIP docs
        uses: actions/upload-artifact@v4
        with:
          path: safety-tool/doc
          name: rustc-asterinas
